@model CreateCommentViewModel
@{
    ViewData["Title"] = "Create Comment";
}
<div class="card">
    <div class="card-header">
        <p>PostId: @Model.PostId</p>
        <p>Post Title: @Model.PostTitle</p>
    </div>
    <div class="card-body">
        <form method="post">
            @Html.HiddenFor(p => p.PostId)
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentHeader"></label>
                <input asp-for="CommentHeader" class="form-control">
                <span class="text-danger" asp-validation-for="CommentHeader"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentText"></label>
                <textarea asp-for="CommentText" class="form-control"></textarea>
                <span class="text-danger" asp-validation-for="CommentText"></span>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary mx-auto">Submit</button>
            </div>
        </form>
    </div>
</div>