<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                    Post
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="DashboardPost" asp-action="Index">List</a></li>
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="DashboardPost" asp-action="Create">Create</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">List</a></li>
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Create">Create</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" data-bs-toggle="dropdown" aria-expanded="false">
                    Tag
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Tag" asp-action="Index">List</a></li>
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Tag" asp-action="Create">Create</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>