@model PagingResult<PostResponse>
@{
    ViewData["Title"] = "Dashboard";

}

<form method="get" asp-area="Admin" asp-controller="DashboardPost" asp-action="Index" class="mt-2">
    <partial name="_PostFilterPartial" />
</form>

<partial name="_ListPostPartial" model="@Model" />