@model IEnumerable<TagResponse>
@{
    ViewData["Title"] = "Tag";
}

<h1>Category</h1>
<div class="list-group mt-2">
    @foreach (var tag in Model)
    {
        <a asp-controller="Category" asp-action="ListPost" asp-route-tagId="@tag.Id" class="list-group-item list-group-item-action">@tag.Name - @tag.Description</a>
    }
</div>