@model CreateCategoryViewModel
@{
    ViewData["Title"] = "Create new category";
}
<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" onkeyup="ChangeUrl('Name', 'UrlSlug')">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="UrlSlug"></label>
        <input asp-for="UrlSlug" class="form-control" readonly>
        <span class="text-danger" asp-validation-for="UrlSlug"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary mx-auto">Submit</button>
    </div>
</form>