<div>
    <img src="~/assets/img/post-sample-image.jpg" style="max-width:100%">
    <p>
        <h3>About me!</h3>
        My name is Daniel Neumann and this is my personal blog or better my personal knowledge base where I am writing down my thoughts all around Microsoft Azure, Kubernetes and Cloud Native technologies.
    </p>
</div>